TEL/node-red.json
[
    {
        "id": "7bcdb78016cb9539",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d1e9e0a22524c584",
        "type": "mqtt in",
        "z": "7bcdb78016cb9539",
        "name": "",
        "topic": "cola1",
        "qos": "2",
        "datatype": "auto",
        "broker": "9e4c4c35e39134b0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "1bebbab74142aa87"
            ]
        ]
    },
    {
        "id": "ac84cfcbc359c1a0",
        "type": "debug",
        "z": "7bcdb78016cb9539",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 140,
        "wires": []
    },
    {
        "id": "1bebbab74142aa87",
        "type": "json",
        "z": "7bcdb78016cb9539",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "ac84cfcbc359c1a0",
                "17476a9f9db17598",
                "78cdae1a936d1a8c",
                "d0ce7435d9814b31",
                "e709ce0d85aeb28b",
                "94efc5ddf8c8b61f",
                "9171db766b842ef1",
                "a940714fad0bca84"
            ]
        ]
    },
    {
        "id": "796d2246671e25f6",
        "type": "mqtt in",
        "z": "7bcdb78016cb9539",
        "name": "",
        "topic": "cola2",
        "qos": "2",
        "datatype": "auto",
        "broker": "9e4c4c35e39134b0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "353b6d8c4b28e3d4"
            ]
        ]
    },
    {
        "id": "862228c0ec658a02",
        "type": "debug",
        "z": "7bcdb78016cb9539",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "353b6d8c4b28e3d4",
        "type": "json",
        "z": "7bcdb78016cb9539",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "862228c0ec658a02",
                "0c0cd0361783f2f2",
                "e90f5047311757b3",
                "3186db0b617a5860",
                "e8c10fd38a382891",
                "806fed8fc1808fc4",
                "5ed949429ea671e7",
                "160aaadf6ef074c4"
            ]
        ]
    },
    {
        "id": "a19585169e8c2b47",
        "type": "mqtt in",
        "z": "7bcdb78016cb9539",
        "name": "",
        "topic": "cola3",
        "qos": "2",
        "datatype": "auto",
        "broker": "9e4c4c35e39134b0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "89259406e8a43ea2"
            ]
        ]
    },
    {
        "id": "0f46f9d893555d5c",
        "type": "debug",
        "z": "7bcdb78016cb9539",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 460,
        "wires": []
    },
    {
        "id": "89259406e8a43ea2",
        "type": "json",
        "z": "7bcdb78016cb9539",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "0f46f9d893555d5c",
                "b0faa1c81deefbfd",
                "d290d20a5217d963",
                "459c4acab3071322",
                "101f526d47a089d9",
                "b42d586f5fb50674",
                "cef590dcab618e37",
                "f6f0949129c6de96"
            ]
        ]
    },
    {
        "id": "78cdae1a936d1a8c",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "0d000ba916cae064",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Siguiente",
        "format": "{{msg.payload.Next}}",
        "layout": "col-center",
        "className": "",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "d0ce7435d9814b31",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "0d000ba916cae064",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Espera",
        "format": "{{msg.payload.Espera}}",
        "layout": "col-center",
        "className": "",
        "x": 1000,
        "y": 40,
        "wires": []
    },
    {
        "id": "17476a9f9db17598",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "0d000ba916cae064",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Siguientes",
        "format": "{{msg.payload.Following[0]}} {{msg.payload.Espera}}",
        "layout": "col-center",
        "className": "",
        "x": 670,
        "y": 20,
        "wires": []
    },
    {
        "id": "0c0cd0361783f2f2",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "24588771f609171e",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Siguiente",
        "format": "{{msg.Next}}",
        "layout": "col-center",
        "className": "",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "e90f5047311757b3",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "24588771f609171e",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Espera",
        "format": "{{msg.payload.Espera}}",
        "layout": "col-center",
        "className": "",
        "x": 1000,
        "y": 280,
        "wires": []
    },
    {
        "id": "3186db0b617a5860",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "24588771f609171e",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Siguientes",
        "format": "{{msg.payload.Following[0]}} {{msg.payload.Following[1]}} {{msg.payload.Following[2]}} {{msg.payload.Following[3]}}",
        "layout": "col-center",
        "className": "",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "d290d20a5217d963",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "d92558c3ef9ec83f",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Siguiente",
        "format": "{{msg.payload.Next}}",
        "layout": "col-center",
        "className": "",
        "x": 880,
        "y": 540,
        "wires": []
    },
    {
        "id": "459c4acab3071322",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "d92558c3ef9ec83f",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Espera",
        "format": "{{msg.payload.Espera}}",
        "layout": "col-center",
        "className": "",
        "x": 1040,
        "y": 540,
        "wires": []
    },
    {
        "id": "b0faa1c81deefbfd",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "d92558c3ef9ec83f",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Siguientes",
        "format": "{{msg.payload.Following[0]}} {{msg.payload.Following[1]}} {{msg.payload.Following[2]}} {{msg.payload.Following[3]}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "99b1583458fc209d",
        "type": "inject",
        "z": "7bcdb78016cb9539",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Next\":\"1111\",\"Espera\":\"5\",\"Following\":[\"2222\",\"3333\",\"4444\",\"5555\"]}",
        "payloadType": "str",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "1bebbab74142aa87"
            ]
        ]
    },
    {
        "id": "e709ce0d85aeb28b",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "0d000ba916cae064",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload.Following[1]}} {{msg.Espera1}}",
        "layout": "col-center",
        "className": "",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "94efc5ddf8c8b61f",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "0d000ba916cae064",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload.Following[2]}} {{msg.Espera2}}",
        "layout": "col-center",
        "className": "",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "9171db766b842ef1",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "0d000ba916cae064",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload.Following[3]}} {{msg.Espera3}}",
        "layout": "col-center",
        "className": "",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "a940714fad0bca84",
        "type": "function",
        "z": "7bcdb78016cb9539",
        "name": "",
        "func": "msg.Espera1=msg.payload.Espera*2;\nmsg.Espera2=msg.payload.Espera*3;\nmsg.Espera3=msg.payload.Espera*4;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "e709ce0d85aeb28b",
                "94efc5ddf8c8b61f",
                "9171db766b842ef1"
            ]
        ]
    },
    {
        "id": "e8c10fd38a382891",
        "type": "function",
        "z": "7bcdb78016cb9539",
        "name": "",
        "func": "msg.Espera1=msg.payload.Espera*2;\nmsg.Espera2=msg.payload.Espera*3;\nmsg.Espera3=msg.payload.Espera*4;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 380,
        "wires": [
            [
                "806fed8fc1808fc4",
                "5ed949429ea671e7",
                "160aaadf6ef074c4"
            ]
        ]
    },
    {
        "id": "101f526d47a089d9",
        "type": "function",
        "z": "7bcdb78016cb9539",
        "name": "",
        "func": "msg.Espera1=msg.payload.Espera*2;\nmsg.Espera2=msg.payload.Espera*3;\nmsg.Espera3=msg.payload.Espera*4;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 640,
        "wires": [
            [
                "b42d586f5fb50674",
                "cef590dcab618e37",
                "f6f0949129c6de96"
            ]
        ]
    },
    {
        "id": "806fed8fc1808fc4",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "24588771f609171e",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload.Following[1]}} {{msg.Espera1}}",
        "layout": "col-center",
        "className": "",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "5ed949429ea671e7",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "24588771f609171e",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload.Following[2]}} {{msg.Espera2}}",
        "layout": "col-center",
        "className": "",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "160aaadf6ef074c4",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "24588771f609171e",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload.Following[3]}} {{msg.Espera3}}",
        "layout": "col-center",
        "className": "",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "b42d586f5fb50674",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "d92558c3ef9ec83f",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload.Following[1]}} {{msg.Espera1}}",
        "layout": "col-center",
        "className": "",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "cef590dcab618e37",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "d92558c3ef9ec83f",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload.Following[2]}} {{msg.Espera2}}",
        "layout": "col-center",
        "className": "",
        "x": 690,
        "y": 620,
        "wires": []
    },
    {
        "id": "f6f0949129c6de96",
        "type": "ui_text",
        "z": "7bcdb78016cb9539",
        "group": "d92558c3ef9ec83f",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload.Following[3]}} {{msg.Espera3}}",
        "layout": "col-center",
        "className": "",
        "x": 690,
        "y": 660,
        "wires": []
    },
    {
        "id": "9e4c4c35e39134b0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0d000ba916cae064",
        "type": "ui_group",
        "name": "Cola1",
        "tab": "bdd9d70c226006f3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "24588771f609171e",
        "type": "ui_group",
        "name": "Cola2",
        "tab": "bdd9d70c226006f3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d92558c3ef9ec83f",
        "type": "ui_group",
        "name": "Cola3",
        "tab": "bdd9d70c226006f3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bdd9d70c226006f3",
        "type": "ui_tab",
        "name": "SuInt",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]